<!-- /**
 * 插入侧边栏 - 筛选 内容HTML片段（暂不用load方法加载此页的HTML内容）
 * 为了该组件可重复利用
 * 已把组件内的三种子组件 【输入框、单选、时间选择】
 * 分别通过方法【creatComponentsInput、creatComponentsItem、creatComponentsDate】动态创建
 * 数据驱动视图
 */ -->
<!-- <div class='sidebar-cell sidebar-input flex-box align-items-center '>
	<div class='cell-1'>姓名/手机</div>
	<div class='cell-2'>
		<input type='text' name='' id='' value='' placeholder='请输入' />
	</div>
</div>
<div class='sidebar-cell sidebar-choose'>
	<div class='sidebar-cell-header'>
		<div>选择顾问<span class='icon-down-arrow pull-right'></span></div>
	</div>
	<div class='sidebar-cell-body'>
		<ul class='choose-label list-inline'>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
		</ul>
	</div>
</div>
<div class='sidebar-cell sidebar-choose '>
	<div class='sidebar-cell-header'>
		<div>选择顾问<span class='icon-down-arrow pull-right'></span></div>
	</div>
	<div class='sidebar-cell-body'>
		<ul class='choose-label list-inline'>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
		</ul>
	</div>
</div>
<div class='sidebar-cell sidebar-choose '>
	<div class='sidebar-cell-header'>
		<div>选择顾问<span class='icon-down-arrow pull-right'></span></div>
	</div>
	<div class='sidebar-cell-body'>
		<ul class='choose-label list-inline'>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
		</ul>
	</div>
</div>
<div class='sidebar-cell sidebar-choose '>
	<div class='sidebar-cell-header'>
		<div>选择顾问<span class='icon-down-arrow pull-right'></span></div>
	</div>
	<div class='sidebar-cell-body'>
		<ul class='choose-label list-inline'>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
			<li class='choose-label-item fiexd-w'>向伟伟</li>
			<li class='choose-label-item fiexd-w'>向伟</li>
		</ul>
	</div>
</div>
<div class='sidebar-cell sidebar-choose '>
	<div class='sidebar-cell-header'>
		<div>时间类型<span class='icon-down-arrow pull-right'></span></div>
	</div>
	<div class='sidebar-cell-body'>
		<ul class='choose-label list-inline'>
			<li class='choose-label-item'>计划时间</li>
			<li class='choose-label-item'>创建时间</li>
			<li class='choose-label-item'>下发时间</li>
			<li class='choose-label-item'>执行时间</li>
			<li class='choose-label-item'>邀约到店时间</li>
		</ul>
	</div>
</div>
<div class='sidebar-cell sidebar-date'>
	<div class='sidebar-cell-header'>
		<div>时间区间<span class='icon-down-arrow pull-right'></span></div>
	</div>
	<div class='sidebar-cell-body'>
		<input type='text' name='' class='startTime' value='' placeholder='开始时间' readonly='readonly' />
		<span class='light-gray'>-</span>
		<input type='text' name='' class='endTime' value='' placeholder='结束时间' readonly='readonly' />
	</div>
</div>
 -->