html, body { color:#222; font-family:Microsoft YaHei, Helvitica, Verdana, Tohoma, Arial, san-serif; margin:0; padding: 0; text-decoration: none; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
img { border:0; }
ol, ul { list-style: none outside none; margin:0; padding: 0; }
a { color:#000000; text-decoration: none; }
.clr { display:block; clear:both; height:0; overflow:hidden; }
.copyright {
	text-align:center;
	font-size:12px;
	color:#aaa;
	margin-top: 0px;
}
.copyright  p{
	text-align:center;
	font-size:12px;
	color:#aaa;
	margin-top: 0px;
	color: red;
}
.copyright a { color:#666; }
h2 { font-size:16px; }

.huanying {
	font-size:12px;
	color:#FFFFFF;
	line-height: 32px;
	background-color: #3276c2;
	display: block;
	width: 100%;
	margin-bottom: 2px;
}
.hy2{
	float: left;
	margin: 8px;
}




body {background-color:#eee; }
body .mainmenu:after { clear: both; content: " "; display: block; }

body .mainmenu li{
	float:left;
	width: 33.33%;
	overflow:hidden;
}

body .mainmenu li a{ display:block;  color:#FFF;   text-align:center }
body .mainmenu li a b{
	display:block;
	height:60px;
}
body .mainmenu li a img{
	width: 42px;
	height: 42px;
	margin-top: 7px;
	margin-right: auto;
	margin-bottom: 7px;
	margin-left: auto;
}

body .mainmenu li a span{ display:block; height:30px; line-height:20px; color: #333; font-size:13px; }

body .mainmenu li:nth-child(8n+1) {background-color:#f9fafd}
body .mainmenu li:nth-child(8n+2) {background-color:#f4f6fb}
body .mainmenu li:nth-child(8n+3) {background-color:#f8f9fd}
body .mainmenu li:nth-child(8n+4) {background-color:#f4f6fb}
body .mainmenu li:nth-child(8n+5) {background-color:#fdfdfe}
body .mainmenu li:nth-child(8n+6) {background-color:#f4f6fb}
body .mainmenu li:nth-child(8n+7) {background-color:#f8f9fd}
body .mainmenu li:nth-child(8n+8) {background-color:#f4f6fb}
/*���������˵�start*/

.topBar{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	height: 55px;
	overflow:hidden;
	zoom:1;
	color: #fff;
	text-align: center;
	background-color: #1790E4;
}
.topBar .l{float:left;width:50px;}
.topBar h1{font-size: 16px;line-height: 55px;margin:  0 60px 0 60px;}
.topBar .arrow{
	height: 55px;
	width: 45px;
	display: block;
	font-size: 20px;
	color: #fff;
	background-color: #1790E4;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size:23px 23px;
}
.topBar .rightArr{position:absolute;right:2px;top:50%; width:0px;height:0px;border-bottom:5px solid transparent;border-top:5px solid transparent;border-left:5px solid #ffd792;font-size:0px;line-height:0px;vertical-align: middle;margin: -3px 0 0 3px;display: inline-block;}
.topBar .l{
	color: #fff;
	height: 45px;
	background-color: #1790E4;
}
.topBar .logo{background:#fff url(../iicon.png) 1px -1px;display: inline-block;width: 34px;height: 34px;border-radius: 34px;margin: 6px 9px 0 6px;}

.topBar .r{position:relative;float:right;width:50px;margin-top:-45px;height: 50px;}
.topBar .r a{font-weight: bold;color: #fff;display: inline-block;padding: 15;line-height:40px;line-height: 40px;
	height: 35px;
	width: 45px;
	display: block;
	font-size: 20px;
	color: #fff;
	background-color: #1790E4;
	background-image: url(../images/ok.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left:5px;
	background-size: 23px 23px;}
.topBar .r input{font-weight: bold;color: #fff;display: inline-block;padding: 15;line-height:40px;line-height: 40px;
	height: 35px;
	width: 45px;
	display: block;
	font-size: 20px;
	color: #fff;
	background-color: #1790E4;
	background-image: url(../images/ok.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left:5px;
	background-size: 23px 23px;}
.topBar .search{border: 0;line-height: 30px;border-radius: 20px;width: 100%;overflow: hidden;outline:none;background: #fff3e9;text-indent: 2em;color:#666;}
.topBar .sIcon{background:#fff3e9 url(icon.png) -190px -6px no-repeat;}
.topBar .search:focus{background: #fff;}
.topBar .se{border-right: 1px solid #ff8f33;}
	



/* ul li�Ժ�����ʾ */
div.menu {
	
	position:fixed;
	bottom:0px;
	left:0px;
	width: 100%;
}

/* ����classΪmenu��div�е�ul��ʽ */
div.menu ul
{
    list-style:none; /* ȥ��ulǰ��ķ�� */
    margin: 0px; /* �����Ԫ�صľ���Ϊ0 */
    padding: 10px; /* ���ڲ�Ԫ�صľ���Ϊ0 */
    width: auto; /* ��ȸ��Ԫ�����ݵ��� */
	border-top: #bdbdbd solid 2px;
	background-color: #f8f8f8;
	height: 80px;
}
/* ����classΪmenu��div�е�ul�е�li��ʽ */
div.menu ul li
{
    float:left; /* ����Ư�ƣ������ű�Ϊ���� */
	width: 24%;
}
/* ����classΪmenu��div�е�ul�е�a��ʽ(������δ����ĺ͵�������ʽ) */
div.menu ul li a, div.menu ul li a:visited
{
	width: 24%;
    color: #dde4ec; /* ������ɫ */
    display: block; /* ��Ԫ�ؽ���ʾΪ�鼶Ԫ�أ���Ԫ��ǰ�����л��з� */
    line-height: 1.35em; /* �и� */
    padding: 4px 20px; /* �ڲ����ľ��� */
    text-decoration: none; /* ����ʾ�������»��� */
    white-space: nowrap; /* �����ı��ڵĿհ״������ỻ�У��ı�������ͬһ���ϼ���ֱ������ <br> ��ǩΪֹ�� */
}
/* ����classΪmenu��div�е�ul�е�a��ʽ(����ƶ���Ԫ���е���ʽ) */
div.menu ul li a:hover
{
    color: #465c71; /* ������ɫ */
    text-decoration: none; /* ����ʾ�������»��� */
}
/* ����classΪmenu��div�е�ul�е�a��ʽ(�����Ԫ��ʱ����ʽ) */
div.menu ul li a:active
{
    color: #cfdbe6; /* ������ɫ */
    text-decoration: none; /* ����ʾ�������»��� */
}

div.menu ul li a{
	display: inline-block;
	display: inline-block;
	margin: auto auto;
	width: 100%;
	height: 54px;
	background-repeat: no-repeat;
	background-size: 40px 54px;
	background-position: center;
	text-align: center;	}

.home{	
	background-image: url(../images/t1_.png);
	}
	
.report{	
	background-image: url(../images/t2_.png);
	}
	
.alert{	
	background-image: url(../images/t3_.png);
	}
	
.mine{	
	background-image: url(../images/t4_.png);
	}
	
	
.home_active{	
	background-image: url(../images/t1.png);
	}
	
.report_active{	
	background-image: url(../images/t2.png);
	}
	
.alert_active{	
	background-image: url(../images/t3.png);
	}
	
.mine_active{	
	background-image: url(../images/t4.png);
	}
